<div class="app-wrapper">
    <h1 class="main-heading top">{{name}}</h1>
    <a class="main-btn first left" href="#{{btn1}}">{{btn1}}</a><a  href="#{{btn2}}" class="main-btn second right">{{btn2}}</a>
</div>